.container {
  height: 200px;
  position: relative;
}
body {
  background-color: #213769 !important;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h3,
h5 {
  color: white;
  font-weight: 200 !important;
  /* font-size: 2.3rem !important;
  
  
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 991.98px) {
    font-size: 2.3rem;
  } */
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.icon_email {
  transition: transform 0.2s; /* Animation */
}
.icon_email:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
